
  <div class="page-header">
    <h1 class="Title">Pick Up Lines</h1>
    <h1 class="Title2">Get all the chicks.</h1>
  </div>

   <div class="container">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">

      <div class="btn-group" role="group">
        <button type="submit" class="btn btn-default b1">
          <h2>Comedy</h2> 
          <br> 
          <img class="picture-1" src="http://cdn2.bigcommerce.com/server1600/1900f/product_images/uploaded_images/comedymeltdown.jpg">
        </button>
      </div>

      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default b8">
          <h2>Random</h2> 
          <br> 
          <img class="picture-1" src="https://wandervogeldiary.files.wordpress.com/2015/08/random.jpg">
        </button>
      </div>

      <div class="btn-group" role="group">
        <button type="submit" class="btn btn-default b3">
          <h2>Creep</h2> 
          <br> 
          <img class="picture-1" src="https://illuminatedverse.files.wordpress.com/2015/07/creep.jpg">
        </button>
      </div>

    </div>

    <div class="btn-group btn-group-justified" role="group" aria-label="...">

      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default b4">
          <h2>Nerdy</h2> 
          <br>
          <img class="picture-1" src="https://pbs.twimg.com/profile_images/2267187011/talk-nerdy-to-me-t-shirt-vintage-t-shirt-review-rad-rowdies-rad-rowdies-1_400x400.jpg">
        </button>
      </div>

      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default b5">
          <h2>Music</h2>
          <br>
          <img class="picture-1" src="http://musicbloglist.com/wp-content/uploads/2014/04/Music-Blog-List-Logo.png">
        </button>
      </div>

      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default b6">
          <h2>Perfect</h2> 
          <br> 
          <img class="picture-1" src="http://res.images.picsquare.com/images/designs/1009.jpg">
        </button>
      </div>

    </div>

    <div class="btn-group btn-group-justified last" role="group" aria-label="...">

      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default b7">
          <h2>Basic</h2> 
          <br> 
          <img class="picture-1" src="http://33.media.tumblr.com/f74a005d9761dcdfae0bdd022268c44e/tumblr_n32gbpkD0t1qasthro1_400.gif">
        </button>
      </div>

      <div class="btn-group" role="group">
        <button id="theButton" type="submit" class="btn btn-default b2">
          <h2>Dirty</h2> 
          <br> 
          <img class="picture-1" src="https://pbs.twimg.com/profile_images/583401306418782208/YqSehjlX.jpg">
        </button>
        <br>
        <div> <span class="dirty"></span> </div>
      </div>

      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default b9">
          <h2>Tv Shows</h2> 
          <br> 
          <img class="picture-1" src="http://www.elcivics.com/esl/tv-shows/tv-shows.jpg">
        </button>
      </div>
    </div>
   </div>




